* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	display: flex;
	padding: 16px;
	background-color: beige;
}
.game {
	display: flex;
	flex: auto;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	min-width: 75vw;
}

.foreground {
	width: 75vw;
	height: 75vh;
	background-color: black;
	border: solid 8px slategray;
	border-radius: 10px;
	flex-shrink: 0;
	padding: 16px 32px;
	display: flex;
	flex-direction: column;
}
.start {
	padding: 1rem 4rem;
	scale: 1;
	font-size: 32px;
	border: 2px solid slategray;
	border-radius: 10px;
	background-color: cornsilk;
}
.start:hover {
	background-color: darkslategray;
	color: aliceblue;
}

.score,
.player-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: larger;
}

.game-text {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	height: fit-content;
}

.player {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;
}

.paddle {
	width: 15px;
	height: 80px;
	background-color: white;
	position: relative;
	left: 48px;
}
